.go-version
.DS_Store
.idea/
RAG/go/.go-version
RAG/go/data_chunk/chunk_output
RAG/go/data_chunk/recursive_chunks/
RAG/python/venv
RAG/python/video/venv
RAG/python/vector_data_store/volumes
MLP/data
CNN/data
myenv/
myvenv/
other/myvenv
other/data
airllm/myvenv
